<mat-toolbar>
  <h3>Create a new task</h3>
  <button (click)="cancelDialog()">
    <mat-icon>
      close
    </mat-icon>
  </button>
</mat-toolbar>

<mat-dialog-content>
  <form [formGroup]="todoForm">
    <mat-form-field>
      <mat-label>Task</mat-label>
      <input formControlName="name"
             matInput
      >
      <mat-error *ngIf="todoForm.get('name')?.getError('required')">
        A task title is required
      </mat-error>
    </mat-form-field>
    <div mat-dialog-actions>
      <button (click)="createTask()"
              cdkFocusInitial
              color="primary"
              mat-raised-button>
        Create
      </button>
    </div>
  </form>
</mat-dialog-content>
