<mat-card>
  <mat-card-content>
    <h1>Sign in</h1>
    <h3>Organize your life today, and it's free!</h3>
    <form [formGroup]="createUserForm">
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input formControlName="email"
               matInput
               placeholder="Ex. test@example.com"
               type="email"
        >
        <mat-error *ngIf="createUserForm.get('email')?.getError('required')">
          An email is required
        </mat-error>
        <mat-error *ngIf="createUserForm.get('email')?.getError('email')">
          Email format not valid. Ex: test@test.com
        </mat-error>
        <mat-error *ngIf="createUserForm.get('email')?.getError('auth/email-already-in-use')">
          A user with this email already exists
        </mat-error>
        <mat-error *ngIf="createUserForm.get('email')?.getError('auth/invalid-email')">
          The email address is not valid
        </mat-error>
        <mat-error *ngIf="createUserForm.get('email')?.getError('auth/operation-not-allowed')">
          Email/password accounts are not enabled
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Password</mat-label>
        <input [type]="showPassword ? 'text' :  'password' "
               formControlName="password"
               matInput
               type="password"
        >
        <button (click)="showPassword = !showPassword"
                [attr.aria-label]="'Show password'"
                [attr.aria-pressed]="showPassword"
                mat-icon-button
                matSuffix
        >
          <mat-icon>{{showPassword ? 'visibility' : 'visibility_off'}}</mat-icon>
        </button>
        <mat-error *ngIf="createUserForm.get('password')?.getError('required')">
          A password is required
        </mat-error>
        <mat-error *ngIf="createUserForm.get('email')?.getError('auth/weak-password')">
          The password is not strong enough
        </mat-error>
        <mat-error *ngIf="createUserForm.get('password')?.getError('weekPassword')">
          Week password
          <ul>
            <li>At least 8 characters in length</li>
            <li>Lowercase letters</li>
            <li>Uppercase letters</li>
            <li>Numbers</li>
            <li>Special characters</li>
          </ul>
        </mat-error>
      </mat-form-field>
      <div>
        <button routerLink="/login"
                color="secondary"
                mat-raised-button
        >
          Login
        </button>
        <button (click)="register()"
                color="primary"
                mat-raised-button
        >
          Register
        </button>
      </div>

    </form>
    <div class="hint">
      <p>The password must respect these rules</p>
      <ul>
        <li>At least 8 characters in length</li>
        <li>Lowercase letters</li>
        <li>Uppercase letters</li>
        <li>Numbers</li>
        <li>Special characters</li>
      </ul>
    </div>
  </mat-card-content>
</mat-card>

