<mat-card>
  <mat-card-content>
    <h1>{{ 'Login' | translate}}</h1>
    <h3>{{ 'Organize your life today, and it\'s free!' | translate}}</h3>
    <form (ngSubmit)="submitLogin()" [formGroup]="loginForm">
      <mat-form-field>
        <mat-label>{{ 'Email' | translate}}</mat-label>
        <input formControlName="email"
               matInput
               placeholder="Ex. pat@example.com"
               type="email"
        >
        <mat-error *ngIf="loginForm.get('email')?.getError('required')">
          An email is required
        </mat-error>
        <mat-error *ngIf="loginForm.get('email')?.getError('email')">
          Email format not valid. Ex: test@test.com
        </mat-error>
        <mat-error *ngIf="loginForm.get('email')?.getError('auth/invalid-email') ||
                      loginForm.get('email')?.getError('auth/wrong-password')"
        >
          Invalid Email or password
        </mat-error>
        <mat-error *ngIf="loginForm.get('email')?.getError('auth/user-disabled')"
        >
          The user corresponding to the given email has been disabled
        </mat-error>
        <mat-error *ngIf="loginForm.get('email')?.getError('auth/user-not-found')"
        >
          There is no user corresponding to the given email
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{ 'Password' | translate}}</mat-label>
        <input formControlName="password"
               matInput
               type="password"
        >
        <mat-error *ngIf="loginForm.get('password')?.getError('required')">
          A password is required
        </mat-error>
        <mat-error *ngIf="loginForm.get('password')?.getError('serverBadPassword')">
          Bad server password
        </mat-error>
      </mat-form-field>

      <div>
        <button
          color="secondary"
          data-test="registerButton"
          mat-raised-button
          routerLink="/create-user"
        >
          {{ 'Register' | translate}}
        </button>
        <button
          color="primary"
          data-test="loginButton"
          mat-raised-button
          type="submit"
        >
          {{ 'Login' | translate}}
        </button>
      </div>
    </form>

  </mat-card-content>
</mat-card>
