mat-card {
  width: fit-content;
  margin: auto;
  padding: 43px 68px;

  h1 {
    margin-block-start: 0;
  }

  h3 {
    color: #cacaca;
  }

  div {
    button {
      margin-right: 10px;
    }
  }
}
