<h1>Login</h1>

<form [formGroup]="loginForm" (ngSubmit)="submitLogin()">
    <mat-form-field>
        <mat-label>Email</mat-label>
        <input  type="email"
                matInput
                formControlName="email"
                placeholder="Ex. pat@example.com"
        >
        <mat-error *ngIf="loginForm.get('email')?.getError('required')">
          An email is required
        </mat-error>
        <mat-error *ngIf="loginForm.get('email')?.getError('email')">
          Email formot not valid. Ex: test@test.com
        </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input  type="password"
              matInput
              formControlName="password"
      >
      <mat-error *ngIf="loginForm.get('password')?.getError('required')">
          A password is required
      </mat-error>
      <mat-error *ngIf="loginForm.get('password')?.getError('badCaca')">
        Bad Caca password
      </mat-error>
      <mat-error *ngIf="loginForm.get('password')?.getError('serverBadPassword')">
        Bad server password
      </mat-error>
    </mat-form-field>

    <div>
      <button type="submit" mat-raised-button  color="primary">Login</button>
    </div>
</form>


