<h1>Laboratory</h1>

<!--////////////////////////////////////////////////////////////////////-->
<!--// map -->
<!--////////////////////////////////////////////////////////////////////-->
<mat-card>
  <mat-card-content>
    <form [formGroup]="labFormGroup">
      <h3>Double Assigned Number with map( value * 2 ) and FormGroup</h3>
      <mat-form-field>
        <input
          formControlName="assignedNumberToBeDoubled"
          matInput
          type="number"
        />
      </mat-form-field>
      <p>Answer: {{assignedNumberDoubled$ | async}}</p>
    </form>
  </mat-card-content>
</mat-card>

<!--////////////////////////////////////////////////////////////////////-->
<!--// concatMap -->
<!--////////////////////////////////////////////////////////////////////-->
<!--////////////////////////////////////////////////////////////////////-->
<mat-card>
  <mat-card-content>
    <h3>concatMap() + BehaviorSubject[] + filter</h3>
    <form [formGroup]="labConcatMapFromGroup">
      <mat-form-field>
        <input formControlName="nameToCreateANewItem" matInput type="text" />
      </mat-form-field>
      <button (click)="addItemToList()" color="primary" mat-raised-button>
        Add item to list
      </button>
      <div>
        <button (click)="reloadConcatMap()" color="primary" mat-raised-button>
          Load items from fake API
        </button>
        <button (click)="removeOneItem()" color="primary" mat-raised-button>
          Remove the first item
        </button>
      </div>

      <mat-form-field>
        <input
          formControlName="searchTermsToFilterItems"
          matInput
          placeholder="Filter items by name"
          type="text"
        />
      </mat-form-field>
      <p>Answer:</p>
      <ul>
        <li *ngFor="let item of (filteredItemListToDisplay$ | async)">
          {{item.name}}
        </li>
      </ul>
    </form>
  </mat-card-content>
</mat-card>
